@charset "utf-8";
/* CSS Document */

#register {
    margin-left:100px;
}
 #register label{
    margin-right:5px;
}
 #register input {
    padding:5px 7px;
    border:1px solid #d5d9da;
    box-shadow: 0 0 5px #e8e9eb inset;
    width:250px;
    font-size:1em;
    outline:0;
}
#result{
    margin-left:5px;
}
.short{
    color:#F00;
	border:1px solid thin #E66C2C;
}
.weak{
	color:#C60;
	border:1px solid thin #E66C2C;
	
}
.good{
    color:#0F0;
	border:1px solid thin #2D98F3;
}
.strong{
    color:#006;
	border:1px solid thin #006400;
}