.jquery-ui-like {
	border-radius: 4px;
	background: #FFF;
	border: 1px solid #AAA;
	overflow: hidden;	
	height: 20px; width: 100%;	
	background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    margin: 10px 0px; margin-top: 0px;
}
.jquery-ui-like div {
    background: #327ebc; /* Old browsers */
    background: -moz-linear-gradient(top, #327ebc 0%, #3176bc 50%, #2d66ad 51%, #273c99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#327ebc), color-stop(50%,#3176bc), color-stop(51%,#2d66ad), color-stop(100%,#273c99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #327ebc 0%,#3176bc 50%,#2d66ad 51%,#273c99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #327ebc 0%,#3176bc 50%,#2d66ad 51%,#273c99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #327ebc 0%,#3176bc 50%,#2d66ad 51%,#273c99 100%); /* IE10+ */
    background: linear-gradient(to bottom, #327ebc 0%,#3176bc 50%,#2d66ad 51%,#273c99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#327ebc', endColorstr='#273c99',GradientType=0 ); /* IE6-9 */
	border-right: 1px solid #AAA;
	height: 20px; width: 90%;
	color: white; font-weight: bold; padding-left: 5px; font-size: 18px;
}
