@charset "utf-8";
/* CSS Document */
/* CSS Reset **/
/***********************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 11.5px;
	font: inherit;
	font-family:"Frutiger", "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "sans serif";

}
h3{
	font-weight: bold;
	color: white;
	width: 100%;
	border-bottom: white 1px solid;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: url(../images/background-image.png) repeat-x;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* a{ color:inherit;}
* strong { font-weight: bold; }
/************************************************************************/

/** Background **/
body{ 
	width: 100%;
	height: auto;
	background:#ededed;
}

/** Hanger **/
#hanger{ width: 100%; height: 35px; border-bottom: 1px solid #c23136; background-color:#ed3c41; margin-bottom: 20px; box-shadow: 0 2px 2px -2px gray; }

/** Container and Layout **/
#header-container{
	width:100%;
	height:60px;
}
#header, #footer{
	width: 950px;
	height: 35px;
	font-size:11.5px;
	margin: 0 auto;
	background:#ed3c41 url(../images/hanger.png) no-repeat;
}
#head{
	width:350px; height:51px;
	background: url(../images/nbslogogrey.png) no-repeat;
	margin:0px auto;
	background-size: contain;
}
#footer{margin-top: 5px; background:none;}

#container,#container-login, #header-login{
	width: 950px;
	height:540px;
	margin: 0 auto;
	background-color: white;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	-o-box-shadow: 0 0 2px #000;
	padding: 10px;
}
/* The login page is has a different container from the rest */
#container-login{ 
    height:417px; 
    border-top-right-radius: 0px; 
    border-top-left-radius: 0px; 
    background: url(../images/logincontainerbg.png) repeat-x;
}
/* The login header */
#header-login{ height: 84px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; background: url(../images/loginheadbg.png) repeat-x; }

/* Login Page Styling */
#login-logo{ width: 173px; height: 47px; background: url(../images/logofire.png) no-repeat left; float: left; margin: 15px; }
#nbs,#slogan{ margin-left: 70px; color: white; font-size: 26px; }
#slogan{ font-size: 12px; }
#motto{ float: left; margin:10px; border-left: 1px solid white; height: 50px; padding-left: 10px; padding-top: 10px; color: white; font-size: 14px; }
/************************************************************/

#content-header, #header-margin{
	height: 79px; width: 950px;
	margin: 0 auto;
}
#header-margin{ height: 20px; border-top: 1px solid #f5595e; margin: 5px auto; background: url(../images/money.png); }
#logo,#logo2{
	width:355px; height:79px;
	background: #ee1c25;
	float:left;
}
#logo2{ width: 146px; background: url(../images/logoend.png) no-repeat; }
#sys-name,#sys-name2{
	height:79px;
	padding:15px 0;
	color:#ee1c25;
	font-size:24px;
}
#sys-name2{ color: white; margin-left: 483px; }
#sys-name strong{ font-weight: bold; }

/********************************************************************************/
#menu{
    margin-top: 7px;
    margin-left: 13px;
    width: 937px;
    height: 38px;
    background: url(../images/menubg.png) repeat-x; border-right: 1px solid #d64c4c;
    z-index: 5;
}
#menu ul{ display: block;}
#menu ul li{ display: inline; }
#menu ul li a{
    color: #6d0e12; 
    display: block; float: left; 
    font-size: 14px; margin-left: -13px; 
    padding: 11px 17px 11px 25px; 
    position: relative; text-decoration: none;
    text-transform: capitalize;
}
#menu ul li.first a { padding-left: 8px; }
#menu ul li a, #menu ul li.active a{
    background-image: url('../images/bg-crumbs.png');  
    background-repeat: no-repeat; 
    background-position: 100% 0; position: relative;
}
#menu ul li a:hover, #menu ul li.active a { color: #6d0e12; background-position: 100% -97px; cursor: pointer; }
#menu ul li.active a { color: white; background-position: 100% -49px; }
#menu ul li.first a span { height: 38px; width: 3px; border-left: 1px solid #d64c4c; position: absolute; top: 0px; left: 0px; }
#menu ul li ul, #menu ul li.active ul { 
    position: absolute; 
    top: 187px; 
    left: 220px; 
    display: none; 
    counter-reset: sub-item;
    z-index: 15;
}
#menu ul li:hover ul, #menu ul li.active ul { 
    display: inline; 
    width: 880px; 
    height: 27px;
    background: url(../images/submenubg.png) repeat-x; 
    margin-top: 2px; 
    counter-reset: sub-item;
}
#menu ul li:hover ul { z-index: 20; }
#menu ul li:hover a { display: inline }
#menu ul li ul li, #menu ul li.active ul li { list-style: none; }
#menu ul li ul li a, #menu ul li.active ul li a {
    background: none;
    color: #6d0e12;
    padding: 2px 15px;
    margin: 3px;
    font-weight: bold;
}
#menu ul li ul li a:before, #menu ul li.active ul lu a:before {
    counter-increment: sub-item;    
    content: counter(sub-item);
    border: 1px solid #d7c2c4; margin: 2px; margin-right: 10px;
    border-radius: 100%; padding: 0px 4px;
    font-size: 12px; color: #c86d71;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0bdc0), to(#d8a4a8));
    text-decoration: none;
}
#menu ul li ul li a{ z-index: 20; }


/**************************************************************************************/

#submenu{
	width:949px; height: 26px;
	background: url(../images/submenubg.png) repeat-x;
	border: 1px solid #bdadad;
	z-index: 1;
	position: relative;
	top:-2px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#information-bar{
    width: 950px; height: 15px; margin-top: 10px;
    border-bottom: 1px solid #ee1c25;
    float: left; font-size: 12px; text-transform: capitalize;
}
#date{ color: black; margin-left: 370px; float: left; }
#user{ color: #ee1c25; margin-left: 100px; float: right; }
#screen-title { font-size: 16px; color: #ee1c25; margin-left: 0px; }
#screen-title:before { content: url(../images/arrow_down.png); position: relative; top: -3px; margin-left: 3px; }


/*******************************************************************************************************************/
/******************************* Login Page Content ***************************************************************/
#advert{ 
    width: 500px; height: 390px;
    float: left; margin-top: 10px; 
    color: #282594; font-size: 16px;
    border-top-left-radius: 3px; border-bottom-left-radius: 3px; 
    padding: 25px;
    text-shadow: #727272 1px 1px 2px;
} 
#sys-title{ color: #282594; font-size: 22px; margin: 5px; margin-top: -30px; }
#winhouse{ width: 462; height: 249px; background: url(../images/winahouse.png) no-repeat; margin: 5px; }
#login-header, #login-footer, #login-container{ 
    width: 330px; height: 277px;
    background-color: #e6e6e5;
    background-image: -moz-linear-gradient(1deg, #dedede, #e6e6e5);
    background-image: -ms-linear-gradient(1deg, #dedede, #e6e6e5);
    background-image: -o-linear-gradient(1deg, #dedede, #e6e6e5);
    background-image: -webkit-linear-gradient(1deg, #dedede, #e6e6e5);
    background-image: linear-gradient(1deg, #dedede, #e6e6e5);
    border: 1px solid #838383;
    float: right; 
    margin-right: 15px;
}

#login-header, #login-footer{ 
    height: 27px; 
    background: url(../images/grid_foot.png) repeat-x; 
    margin: 0 auto; 
    border: 1px solid #999999; 
    color: #fff; font-size: 18px; text-align: center; text-transform: capitalize; padding: 10px 0px;
    margin-right: 15px;
     box-shadow: 0 0 1px #474747;
	-moz-box-shadow: 0 0 1px #474747;
	-webkit-box-shadow: 0 0 1px #474747;
	-o-box-shadow: 0 0 1px #474747;
}
#login-header{ 
    margin-top: 30px; 
    height: 20px; 
    border-top-left-radius: 3px; border-top-right-radius: 3px; 
    border: 1px solid #0b0b56;
    color: #fff;
    background: #327ebc; /* Old browsers */
    background: -moz-linear-gradient(top, #327ebc 0%, #3176bc 50%, #2d66ad 51%, #273c99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#327ebc), color-stop(50%,#3176bc), color-stop(51%,#2d66ad), color-stop(100%,#273c99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #327ebc 0%,#3176bc 50%,#2d66ad 51%,#273c99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #327ebc 0%,#3176bc 50%,#2d66ad 51%,#273c99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #327ebc 0%,#3176bc 50%,#2d66ad 51%,#273c99 100%); /* IE10+ */
    background: linear-gradient(to bottom, #327ebc 0%,#3176bc 50%,#2d66ad 51%,#273c99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#327ebc', endColorstr='#273c99',GradientType=0 ); /* IE6-9 */
    text-shadow: #000 0px 0px 5px;
} 
#login-footer{ 
    margin-bottom: 70px; 
    border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;
    font-size: 14px;
    padding: 5px 0px;
    height: 15px;
}
#login-container{ float: right; }

/*******************************************************************************************************************/
/******************************** FORMS ***************************************************************************/
.forms{
    margin: 10px;
    float: left;
}
label{ font-size: 14px; text-transform: capitalize; float: left; text-align: right; padding: 10px; color: #525252; text-align: right; width: 120px; }
.inputs{ float: left; }
.textbox, .option{ height: 15px; width: 270px; margin: 4px 5px; padding: 5px; border: 1px solid #d8d1d2; background: #fbfbfb; }
.textbox-login, .option-login{ height: 25px; width: 270px; margin: auto 5px; padding: 5px; border: 1px solid #d8d1d2; background: #fbfbfb; }
.styled-select select{
    background: transparent;
    width: 280px;
    padding: 5px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 35px;
    -webkit-appearance: none;
}
.styled-select {
    width: 280px;
    height: 25px;
    overflow: hidden;
    border: 1px solid #d8d1d2;
    color: #666;
    font-size: 14px;
    padding: 0px;
}
.submit, .greenbtn, .greenbtn-login, .yellowbtn, .redbtn, .bluebtn{
    height: 20px;
    border: 1px solid #64B51E;
    background: #8fc400; /* Old browsers */
    background: -moz-linear-gradient(top, #8fc400 0%, #8fc400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8fc400 0%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8fc400 0%,#8fc400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8fc400 0%,#8fc400 100%); /* IE10+ */
    background: linear-gradient(to bottom, #8fc400 0%,#8fc400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */
    color: white;
    border-radius: 0px;
    margin: 5px;
    font-size: 12px;
    text-transform: capitalize;
    cursor: pointer;
}
.submit, greebtn-login{ width: 133px; height: 33px; border-radius: 2px; }
.greenbtn, .redbtn, .yellowbtn { margin: 0px; }
.greenbtn{ background: #90c497; border: none; }
.yellowbtn{ background: #e6e192; border: none; }
.redbtn{ background: #ec989b; border: none; }
.bluebtn{ 
    background: #314bbf; /* Old browsers */
    background: -moz-linear-gradient(top, #314bbf 0%, #293fa0 44%, #262793 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#314bbf), color-stop(44%,#293fa0), color-stop(100%,#262793)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #314bbf 0%,#293fa0 44%,#262793 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #314bbf 0%,#293fa0 44%,#262793 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #314bbf 0%,#293fa0 44%,#262793 100%); /* IE10+ */
    background: linear-gradient(to bottom, #314bbf 0%,#293fa0 44%,#262793 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#314bbf', endColorstr='#262793',GradientType=0 ); /* IE6-9 */     
    width: 280px; height: 30px;
    border: 1px solid #0d0e71; 
}
.searchbox, .form-container, ajax-container {
    padding: 30px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
    box-shadow: 0 0 1px #474747;
	-moz-box-shadow: 0 0 1px #474747;
	-webkit-box-shadow: 0 0 1px #474747;
	-o-box-shadow: 0 0 1px #474747;
}
.searchbox{ width: 350px; height: 70px; }
/***************************************************************************************************************/
/********************************* VARIOUS SECTIONS ************************************************************/
.section { padding: 10px; font-size: 12px; margin: 10px; }
.note, .warning {width: 97%; border: 1px solid #d2d74a; padding: 9px; text-align: center; background: #f5f7b9; margin: 0 auto; }
.warning { background: #f9b2b5; border: 1px solid #ee1c25; color: black; }
.back{ background: url(../images/back.png) no-repeat left; color: #262990; text-indent: 20px; padding: 15px; }
.form-container { margin-top: 20px; }
.full-tbl-container { width: 100%; margin-top: 5px; }
.ajax-tbl-container { margin: 0px auto; width: 100%; margin-top: 3px; }
#result_table{ margin-left: -6px; padding: 0px; }
.loading { height: 10px; width: 130px; padding: 10px; float: left; }
.tbl-header, .tbl-footer, .tbl-footer-checks {
    width: 100%; height: 15px; padding: 10px 0px;
    text-align: center; font-size: 14px; text-transform: capitalize; color: #888686;
    border: 1px solid #9b9b9b;
    background: #c5c5c5; /* Old browsers */
    background: -moz-linear-gradient(top, #c5c5c5 0%, #d9d9d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c5c5), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c5c5c5 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c5c5c5 0%,#d9d9d9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c5c5c5 0%,#d9d9d9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c5c5c5 0%,#d9d9d9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
}
.tbl-footer, .tbl-footer-checks { padding: 0px; height: 25px; }
.tbl-footer-checks { width: 2%; }
.tbl-titles { border: 1px solid #e5e5e5; }
.tbl-titles td, .tbl-rows td{ 
    text-align: center; 
    color: #616161; 
    padding: 5px; 
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f0f0 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f0f0 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0f0f0 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f0f0f0 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */ 
}
.tbl-rows { border: 1px solid #d1d1d1; }
.tbl-rows td{
    padding: 3px;
    background: #dfdfdf; /* Old browsers */
    background: -moz-linear-gradient(top, #dfdfdf 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dfdfdf 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dfdfdf 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dfdfdf 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}
.tbl-options, .tbl-pagination { float: left; height: 100%; line-height: 100%; }
.tbl-options { width: 70%; }
.tbl-pagination { border-left: 1px solid #999999; float: left; }
.delete-all, .lock-all, .lock-disabled, .unlock-disabled, .unlock-all, .select-all, .unselect-all, .pagination-item, .delete-disabled, .pagination-item-outer-lft, .pagination-item-outer-rght { 
    height: 15px; border-right: 1px solid #999999; width: 125px; 
    float: left; padding: 5px; 
    background: url(../images/delete_bin.png) no-repeat 2px;
}
.lock-all { background: url(../images/lock.png) no-repeat 8px; }
.unlock-all { background: url(../images/unlock.png) no-repeat 2px; }
.delete-disabled, .lock-disabled, .unlock-disabled { display: none; }
.select-all{ background: url(../images/select_all.png) no-repeat 2px; width: 115px; }
.unselect-all{ background: url(../images/unselect_all.png) no-repeat 2px; width: 115px; }
.pagination-item{ background: none; width: 10px; }
.pagination-item-outer-lft, .pagination-item-outer-rght { background: none; width: 50px; }
.pagination-item-outer-rght { float: right; }
/***************************************************************************************************************/


#content-footer{
	height: 30px;
	width: 920px;
	margin: 2px auto;
	margin-top: 8px;
}
div#content-footer h1{font-size:13px; font-weight: bold; border-bottom: 1px solid #cbcbcb; padding: 5px; padding-left: 0px; color: #575757;}
div#content-footer h1 a{ text-decoration:none;}
div#content-footer h2{font-size:12px; color: #808080; padding: 2px; padding-left: 0px;}
div#content-left h1{ font-size: 14px; font-weight: bold; text-indent: 14px; padding: 7px; margin: 4px; }

#header-logo{
	width: 248px;
	height: 99px;
	background: url(../images/logo2.png) no-repeat;
	float: left;
}
#border{
	height: 99px; width: 25px;
	background:url(../images/border.png) no-repeat;
	float: left;
}
#logout a{
	width: 70px; height: 15px;
	text-align:center;
	font-size: 12px;
	color: #f9d3d4;
	float: right;
	margin: 4px;
	margin-right: 15px;
	padding: 5px;
	border-radius: 2px;
}
#logout a:hover{ 
	background-color: #272499;
	color: white;
	box-shadow: 0 0 3px #6364ff;
	-moz-box-shadow: 0 0 3px #6364ff;
	-webkit-box-shadow: 0 0 3px #6364ff;
	-o-box-shadow: 0 0 3px #6364ff;
}
#logout-button{ width: 35px; height: 35px; background:url(../images/logoff.png) no-repeat; background-size:contain; margin: 0 auto;}
div.welcome{
	margin: 25px;
	color: white;
	padding: 5px;
}
div.welcome h1{font-size: 14px; margin-bottom: 5px;}
div.welcome h1 strong{font-weight: bold;}
div.welcome h2{font-size: 12px;}
div.signature{font-size: 11px; color: #666; float: right; padding: 3px;}

/* extra CSS - vmhone */
.error-text {
	font-size: 12px;
	color: #ee1c25;
	padding: 6px;
	margin: 7px;
    height: 15px;
    /*background: url(../images/error_arrow.png) no-repeat left;*/
    text-indent: 10px;
}
.errors{
 
}

.table-header {
	background-color:#bdadad;	
}

.body-text {
	
	font-size:11.5px;	
}

.disabled{
    width: 133px; height: 33px;
    border: 1px solid #64B51E;
    background: #999; /* Old browsers */
    color: white;
    border-radius: 2px;
    margin: 5px;
    text-transform: capitalize;
}